<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <script src="scripts/social/friendHandler.js" defer></script>
    <!-- <link href="style/stylesheet.css" type="text/css" rel="stylesheet"> -->
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect with friends</title>
</head>
<body>
    <div id="app">
        <nav class="navbar is-warning" role="navigation" aria-label="main navigation" style="margin-bottom: 3rem">
            <div class="navbar-brand">
                <h1 class="title" style="margin-top: 0.4rem; margin-left: 0.5rem;"><a href="/">P2. RecSys</a></h1>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a href="/movieRec" class="navbar-item">Get Movie Recommendation</a>
                    <a href="/connectWithFriends" class="navbar-item">Add friends</a>
                </div>
                <div class="navbar-end" style="margin-top: 0.4rem; margin-right: 0.5rem">
                    <input v-if="!loggedIn" class="input navbar-item" type="text" id="usernameField" placeholder="Enter your username" style="margin-right:0.5rem; width: 50%;">
                    <input v-if="!loggedIn" v-on:click="login" class="button is-primary navbar-item" type="button" value="Login">
                    <input v-if="!loggedIn" v-on:click="createNewUser" type="button" class="button is-primary navbar-item" value="Create Account" style="margin-left: 0.4rem;">
                    <p v-if="loggedIn" class="navbar-item" style="margin-top: -0.3rem;"><b>{{ username }}</b></p>
                    <input v-if="loggedIn" v-on:click="logout" class="button is-primary navbar-item" type="button" value="Logout">
                </div>
            </div>
        </nav>
        <div class="columns is-centered" style="margin-top: -3rem;">
            <div class="column is-narrow" style="text-align: center;">
                <h1 v-if="!loggedIn" class="title is-large">Please log in first.</h1>
                <div v-if="loggedIn">
                    <h1 class="title is-large">Hi {{ username }}</h1>
                    <p class="content is-medium">Add your friends to your friends list so you can watch a movie together!</p>
        
                    <form>
                        <input class="input" type="text" id="friendNameInput" placeholder="Friend Name" style="width: 15rem;">
                        <input type="button" value="Add friend!" class="button is-success" id="addFriendBtn">
                        <div>
                            <p v-if="errorSelf" style="color: red;">You can't add yourself as a friend.</p>
                            <p v-if="errorDupe" style="color: red;">You are already friends.</p>
                            <p v-if="errorInput" style="color: red;">No friend name entered.</p>
                            <p v-if="errorNoUserWithName" style="color: red;">No user with that name exists.</p>
                        </div>
                    </form>
            
                    <div style="margin-top: 2rem;">
                        <h1 class="title is-medium">Your friends</h1>
                        <div class="content is-medium" style="text-align: center;">
                            <div style="text-align: left; margin-left: 14rem;">
                                <p v-for="friend in friendsList">🤩 {{ friend.name }}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
</html>