<!DOCTYPE html>
<html lang="en">
<head>
    <script src="scripts/connectWithFriends.js" defer></script>
    <!-- <link href="style/stylesheet.css" type="text/css" rel="stylesheet"> -->
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect with friends</title>
</head>
<body>
    <h1 id="header">Connect with friends</h1>
    <p>Add your friends to your friends list so you can watch a movie together!</p>
    <form onsubmit="addToFriendList()">
        <label for="fname">ID of friend:</label><br>
        <input type="text" id="fname" name="fname" value=""><br>
        <input type="submit" value="Add friend!">
      </form> 
    <p>Lorem Ipsum</p>
</body>
</html>