<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <script src="scripts/social/friendHandler.js" defer></script>
    <!-- <link href="style/stylesheet.css" type="text/css" rel="stylesheet"> -->
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect with friends</title>
</head>
<body>
    <div id="app" style="margin-left: 1rem; margin-top: 1rem;">
        <h1 v-if="!loggedIn" class="title is-large">Please log in first.</h1>
        <div v-if="loggedIn">
            <h1 class="title is-large">Hi {{ username }}</h1>
            <p class="content is-medium">Add your friends to your friends list so you can watch a movie together!</p>

            <form>
                <input class="input" type="text" id="friendNameInput" placeholder="Friend Name" style="width: 15rem;">
                <input type="button" value="Add friend!" class="button is-success" id="addFriendBtn">
                <div>
                    <p v-if="errorSelf" style="color: red;">You can't add yourself as a friend.</p>
                    <p v-if="errorDupe" style="color: red;">You are already friends.</p>
                    <p v-if="errorInput" style="color: red;">No friend name entered.</p>
                    <p v-if="errorNoUserWithName" style="color: red;">No user with that name exists.</p>
                </div>
            </form>
    
            <div style="margin-top: 2rem;">
                <h1 class="title is-medium">Your friends</h1>
                <div class="content is-medium">
                    <p v-for="friend in friendsList">🤩 {{ friend.name }}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>