<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/scripts/main.js" defer></script>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P2 Rec. Sys</title>
</head>
<body>
    <h1 id="header">P2 Rec. Sys</h1>
    <p>Lorem Ipsum</p>
</body>
</html>