<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie reccomendation</title>
</head>
<body>
    <h1>Add your frinds to the group: </h1>
    <nav>first member</nav>
</body>
</html>