<!DOCTYPE html>

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="./scripts/user/updateProfile.js" defer></script>
        <script type="text/javascript" src="./scripts/user/user.js" defer></script>
        <link href="/assets/stylesheets/style.css" type="text/css">
        <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile creation</title>
    </head>
    <body>
        <h1 id="header">Profile creation</h1>
        <form id="account" action="/createUser" method="POST">  
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" minlength="3" maxlength="16" required><br> <br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" minlength="3" maxlength="16" required> <br> 
            <input type="checkbox" onclick="showPassword()">Show Password <br> <br>
            <!--
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label><br>
            <input type="radio" id="other" name="gender" value="other">
            <label for="other">Other</label>
            -->
            <p></p>
            <input id="button" type="submit">
        </form>
    </body>
</html>
