<!DOCTYPE html>
<html lang="en">
<head>
    <script src="scripts/connectWithFriends.js" defer></script>
    <link href="style/stylesheet.css" type="text/css" rel="stylesheet">
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect with friends</title>
</head>
<body>
    <h1 id="header">Profile</h1>
    <form></form>
    <p>Lorem Ipsum</p>
</body>
</html>