<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test doc</title>
</head>
<body>
    <button type="submit" id = "createProfile" onClick="location.href='/createProfile'" > Create Profile </button>
    <button type="submit" id = "rateMovies" onClick="location.href='/rateMovies'" > Rate a movie </button>
</body>
</html>

