<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test doc</title>
</head>
<body>
    <button type="submit" tag="connect">connect with friends</button>
    <button type="submit" tag="rec">Get movie recommendation</button>
    <button type="submit" tag = "update_p" onClick="location.href='/Profile'" > Update Profile </button>
</body>
</html>

